body{
    background: #F3F5FC;
}
header h1{
    position: absolute;
    left: 5em;    
    top: 2em;
}

.input-padrao {
    position: absolute;
    width: 900px;
    height: 450px;
    left: 10%;
    top: 168px;
    
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    justify-content: baseline;
    background: transparent;
    border-style: none;
   color: #0A3871;
   line-height: 150%;
   justify-content: baseline;
   font-weight: 600;
}

::placeholder{
    color:#0A3871;
}

.input-padrao:focus{
border: none;
outline: none;
}

.input-cod{
    position: absolute;
    width: 370px;
    height: 690px;
    left: 0;
    top: 10px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    font-style: normal; 
    background: #FFFFFF;
    resize: none;
    border: none;
    color:#495057;
    text-align: justify;
    padding: 25px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.input-cod:focus,select{
    border: none;
    outline: none;
    
}

.botao-cripto{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: absolute;
    width: 336px;
    left: 200px;
    top: 680px;
    border: #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    text-align: center;
    background: #0A3871;
    justify-content: center;
    color: #FFFFFF;
    
    
}

.botao-cripto:hover, .botao-descripto:hover{
    transform: scale(1.2);
}

.botao-descripto{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: absolute;
    width: 336px;
    left: 650px;
    top: 680px;
    border: #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    text-align: center;
    background: #D8DFE8;
    
    color: #0A3871;
    
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
    justify-content: center;
}

.btn-copiar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 30px;
    top: 780px;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
   
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    text-align: center;
    
    color: #0A3871;
    
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
    justify-content: center;
    
}

.btn-copiar:hover{
    scale: 1.1;
}
.message-box{
    position: absolute;
    width: 400px;
    height: 800px;
    left: 70%;
    top: 20px;
    padding-left: 20px;
    padding-top: 80px;

  
    background: #FFFFFF;
   
  
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    }
  .message-box h2{
    position: static;
    width: 336px;
    height: 58px;
    left: 0px;
    top: 0px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 120%;

    text-align: center;
  
    color: #343A40;
    background: transparent;
  
  
  
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
  }
  
  .message-box h3{
    position: static;
    width: 336px;
    height: 48px;
    left: 0px;
    top: 74px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
   
    text-align: center;
  
    
  
    color: #495057;
    background: transparent;
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .message-box-div, .message-box-div img {
    padding-top: 40px;
    background: #FFFFFF;
  }

  .message-box-div{
    position: absolute;
    left: 40px;
    top: 40px;
    background: #FFFFFF;
  }

  @media only screen and (min-width: 481px) and (max-width: 1023px){ 
    main{
        height: 100%;
    }
    .input-padrao{
        width: 45rem;
        top: 8rem;
        height: 18rem;
    }
    .botao-cripto{
        width: 35%;
        top: 30rem;
        left: 5rem;
    }
    .botao-descripto{
        width: 40%;
        top: 30rem;
        left: 28rem;
    }
    .message-box{
        width: 50rem;
        left: 10px;
        top: 35rem;
        height: 72%;
        padding: 0;
        
    }
    .message-box-div img{
        display: none;
    }

    .message-box-div{
        top: 0.1rem;
        height: auto;
        border-radius: 32px;
        left: 15rem;


    }

    .input-cod{
    width: 47rem;
}
    .btn-copiar{
        width: 90%;
        top: 8rem;
        
    }
  }
  
  @media only screen and (min-device-width : 300px) and (max-device-width : 480px){ 
    main{
        height: 100%;
        width: 100%;
    }
    header h1{
        top: 1rem;
        left:50%
    }
    .input-padrao{
        width: 20rem;
        height: 23rem;
        top: 5rem;
        left: 1rem;
        word-wrap: break-word;

    }

    .input-cod{
        width: 17rem;
        height: 25rem;
        left: 0.1rem;
        top: 0.1rem;
        margin-bottom: 3px;
    }
    .botao-cripto{
        width: 90%;
        left: 1rem;
        top: 30rem;
    }
    .botao-descripto{
        width: 90%;
        left: 0.6rem;
        top: 35rem;
    }

    .message-box{
        padding: 0;
        width: 17rem;
        top: 40rem;
        left: 1rem;
        height: 10rem;
       margin: 10rem,80rem;

    }
    .message-box-div img{
        display: none;
    }
    .message-box-div{
        padding: 0;
        height: 8rem;
        top: 0.2rem;
        left: 0.1rem;
        
    }
    .btn-copiar{
        width: 90%;
        top: 22rem;
    }
}
